/*  Экран меньше 1000px
=================================== */
@media only screen and (max-width: 1000px) {
	/* :::::::: get more profit... :::::::: */
	.get-more {
		background-position: 20% 100%, 80% 100%;
	}
	
	/* :::::::: our... and about... :::::::: */
	.our-partner {
		width: 95%;
	}
}

/*  Экран меньше 991px
=================================== */
@media only screen and (max-width: 991px) {
	/* :::::::: common :::::::: */
	h1 { font-size: 35px; }
	h2 { font-size: 30px; }
	h3 { font-size: 22px; }
	h4 { font-size: 18px; }
	p { line-height: 15px; }
	
	/* :::::::: increase the customer :::::::: */
	.increase-elm {
		padding-top: 60px;
	}
	
	.row:last-of-type .increase-elm {
		padding-top: 40px;
	}
	
		.increase-elm p:first-of-type {
			margin-top: 20px;
		}

		.increase .row:nth-of-type(2n) p {
			margin-top: 20px;
		}
	
	/* :::::::: increase media :::::::: */
	.media > div {
		padding: 40px 0 280px;
		background-position: bottom center;
	}
	
		.media div div {
			margin: 10px 0 20px;
			text-align: center;
		}
			.media p {
				margin-top: 10px;
			}
	
	/* :::::::: our... and about... :::::::: */
	.our-partner .row {
		margin: 0 auto;
		width: 500px;
		text-align: center;
	}
	
		.about img:nth-of-type(2n) {
			margin-left: 60px;
		}
	
	.about-app {
		margin: 0 auto;
		width: 90%;
	}
	
		.about-app div {
			position: relative;
			left: 50%;
			float: left;
			margin-bottom: 60px;
			padding-left: 120px;
			width: 50%;
			height: 100px;
			text-align: left;
		}

		.about-app div:first-of-type {
			margin-left: -350px;
		}
	.our-team ul {
		width: 200px;
	}
	
	.our-team ul:first-of-type {
		margin-left: 75px;
	}
	
	/* :::::::: so, are you ready... :::::::: */
	.process h2 {
		margin-bottom: 35px;
	}

	.process a {
		width: 400px;
	}
	
	/* :::::::: вывод ошибки :::::::: */
	.error {
		top: -80px;
		right: 50%;
		margin-right: -100px;
		text-align: center;
		width: 200px;
	}

		.error h5 {
			text-align: center;
			padding: 0 !important;
		}

		.error p {
			text-align: center;
			padding: 0 !important;
		}
}

/*  Экран меньше 767px 
=================================== */
@media only screen and (max-width: 767px) {	
	/* :::::::: header :::::::: */
	.logo {
		text-align: center;
	}
	
		.logo img {
			width: 200px;
			height: 50px;
		}

		.top-menu nav {
			display: none;
		}
	
	/* :::::::: top article :::::::: */
	.top-article h1  {
		width: 320px;
		line-height: 35px;
	}
	
	.top-article p {
		width: 450px;
		font-size: 16px;
		line-height: 25px;
	}
	
	/* :::::::: get more :::::::: */
	.get-more {
		padding: 30px 0 0;
		background: #363b4b;
	}
	
		.get-more h4 {
			margin: 15px 0;
		}


		.get-more .container > p {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 20px;
		}

		.offer {
			margin: 0 auto;
			width: 80%;
			height: auto;
		}
	
			.offer h5,
			.offer p {
				width: 100%;
			}
	
			.offer h5 {
				margin-top: 30px;
			}
	
			.offer img {
				position: relative;
				bottom: 0;
				left: 50%;
				display: block;
				margin-top: 20px;
				margin-left: -110px;
				width: 220px;
				height: 250px;
			}
	
	/* :::::::: increase the customer :::::::: */
	.increase > div {
		width: 80%;
		text-align: center;
	}
	
	.increase .row {
		margin: 0 auto;
		width: 320px;
	}
	
		.increase-elm {
			padding: 20px 0 280px;
			background-position: center bottom !important;
		}
	
			.increase-elm h4,
			.increase-elm p {
				margin: 10px auto 0 !important;
				width: 90%;
				text-align: center;
			}
	
	/* :::::::: increase media :::::::: */
	.media > div {
		padding: 40px 0 280px;
		background-position: bottom center;
	}
	
		.media div div {
			margin: 10px 0 20px;
			text-align: center;
		}
			.media p {
				margin: 0 auto;
				margin-top: 10px;
				width: 95%;
			}
	
	/* :::::::: our... and about... :::::::: */
	.our-partner > h3 {
		font-size: 30px;	
	}
	
	.our-partner .row {
		margin: 0 auto;
		width: 300px;
	}
	
		.about img:nth-of-type(2n) {
			margin-left: 0px;
		}
	
	.about-app {
		margin: 0 auto;
		width: 80%;
	}
	
		.about-app div {
			left: 50%;
			float: none;
			margin: 0 0 20px -160px;
			padding-top: 1px;
			padding-left: 120px;
			width: 60%;
		}

		.about-app div:first-of-type {
			margin-left: -160px;
		}
	
			.about-app p {
				margin-top: 20px;
				font-size: 14px;
			}

			.about-app div h3 {
				font-size: 20px;
			}
	
	/* :::::::: our team :::::::: */
	.our-team {
		padding: 40px 0 20px;
	}
	
		.our-team ul {
			margin-bottom: 30px;
			width: 100% !important;
		}

		.our-team ul:first-of-type {
			margin-left: 0;
		}

			.our-team ul li {
				position: relative;
				left: 50%;
				margin-left: -80px;
				width: 200px;
			}
	
	/* :::::::: so, are you ready... :::::::: */
	.process {
		padding: 40px 0 50px;
	}

		.process h2 {
			margin-bottom: 30px;
			width: 70%;
			font-size: 25px;
		}

		.process a {
			width: 300px;
			font-size: 16px;
		}
}

/*  Экран меньше 530px 
=================================== */
@media only screen and (max-width: 530px) {
	/* :::::::: header :::::::: */
	.logo img {
		width: 135px;
		height: 35px;
	}
	
	/* :::::::: top article :::::::: */
	.top-article {
		padding: 20px 0 30px;
	}
	
		.top-article h1  {
			width: 230px;
			font-size: 25px;
			line-height: 30px;
		}

		.top-article p {
			width: 95%;
			font-size: 14px;
			line-height: 25px;
		}
	
	.row.main-form {
		margin: 15px auto 0;
		padding: 20px 0;
		width: 300px;
	}
	
		.main-form input {
			width: 260px;
			height: 30px;
			line-height: 30px;
		}
	
		.main-form input:last-child {
			margin: 5px 0 0;
			height: 35px;
			font-size: 16px;
			line-height: 15px;
		}
	
	/* :::::::: get more :::::::: */
	.get-more {
		padding: 20px 0 0;
	}
	
		.get-more h3,
		.get-more h4 {
			width: 99% !important;
		}
	
		.get-more h4 {
			margin: 10px 0;
		}

		.get-more .container > p {
			font-size: 13px;
		}
	
	/* :::::::: our partner... and about... :::::::: */
	.our-partner .row {
		margin: 0 auto;
		width: 250px;
	}
	
	.about-app {
		margin: 0 auto;
	}
	
		.about-app div {
			float: none;
			margin: 0 0 20px -150px;
			width: 300px;
		}

		.about-app div:first-of-type {
			margin-left: -150px;
		}
	
	/* :::::::: вывод ошибки :::::::: */
	.error {
		top: -90px;
	}
}













